* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 40px;
  gap: 20px;
  width: auto;
  height: 80px;
}

.figure img {
  width: 48px;
}

.list {
  display: flex;
  list-style: none;
  gap: 10px;
}

.list li a {
  text-decoration: none;
}

.list li a:hover {
  font-weight: 800;
}

.footer {
  text-align: center;
}
/* VideoTube */

.title-nav {
  width: 140px;
  height: 39px;
  font-family: "Impact";
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}
.container-search {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  width: 480px;
  height: 48px;
  margin-left: 20px;
  border: 1px solid #6f6f6f;
  border-radius: 8px 0px 0px 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

/* Buscar video */

#mySearch {
  width: 448px;
  height: 24px;
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: 0px;
  color: #a3a3a3;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.list button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 32px;
  gap: 10px;
  border: 0;
  width: 88px;
  height: 48px;
  background: #373737;
  border-radius: 0px 8px 8px 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.list button .vector-search {
  font-size: 20px;
  color: #6f6f6f;
  font-weight: lighter;
}

/* Tags */
.sect-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 40px;
  gap: 24px;
  width: 1366px;
  height: 72px;
  background: #181818;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.sect-tags li {
  list-style: none;
}

.tag-active {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  width: 81px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #6f6f6f;
  border-radius: 44px;
  color: #373737;
}
.tag_inactive {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  width: auto;
  height: 40px;
  background: #373737;
  border: 1px solid #6f6f6f;
  border-radius: 44px;
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.tag_inactive:hover {
  background: #ffffff;
  color: #373737;
}

.text_tag_inactive {
  width: auto;
  height: 24px;
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.video-show {
  width: 849px;
  height: 477px;
}

.title-video-show {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.img-mini {
  width: 195px;
  height: 109px;
}

.views-show {
  width: 170px;
  height: 24px;
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a3a3a3;
}

.img-creator {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: auto;
  height: 60px;
}

.title-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: auto;
  height: 60px;
}

.container-suggested-videos {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  gap: 16px;
  width: 413px;
  height: 774px;
  overflow-y: scroll;
}
.container {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}
.img-v {
  width: 195px;
  height: 109px;
}
.suggested-video {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.title-ppl {
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.video-sect2-vs {
  width: 195px;
  height: 109px;
  left: 0px;
  top: 0px;
}
.video-title-vs {
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.creator-vs {
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a3a3a3;
}

.list a {
  margin-left: 250px;
  transition: transform 0.5s !important;
}

#new-btn {
  transition: transform 0.5s !important;
  color: #ffffff;
  margin-left: 250px;
  font-size: 28px;
}
#new-btn:hover {
  transform: scale(1.01) !important;
}

#none {
  display: none;
}

@media (max-width: 600px) {
  #form-search {
    display: none;
  }
  #search-mq {
    color: #ffffff;
  }
  .lupa {
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    width: 15px;
  }
  .list a {
    margin-left: 0px;
    transition: transform 0.5s !important;
  }
  #new-btn {
    transition: transform 0.5s !important;
    color: #ffffff;
    margin-left: 100px;
    font-size: 28px;
  }
  .sect-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 10px;
    gap: 8px;
    background: #181818;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    flex-wrap: wrap;
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 10px;
    gap: 0px;
    width: auto;
    height: 80px;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .video-show {
    width: 303px;
    height: auto;
    display: flex;
    justify-content: center;

    align-items: center;
  }
  .details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 8px;
    width: 303px;
    height: auto;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .title-ppl {
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 40px;
  }

  .video-sect2-vs {
    width: 195px;
    height: 109px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 303px;
    height: 104px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .video-title-vs {
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
  }

  .creator-vs {
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #a3a3a3;
  }
  .title-video-show {
    width: auto;
    height: auto;
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
  }
  .container-show-video {
    display: flex;
    justify-content: center;
  }
  .suggested-video {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
  }
  .container-suggested-videos {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 16px;
    width: auto;
    height: auto;
    overflow-y: scroll;
  }
  .img-mini {
    width: 303px;
    height: 170px;
  }
  #db-imag {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  #none {
    display: flex;
  }
}
